@import url("https://fonts.googleapis.com/css2?family=Benne&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}
body {
  background-color: var(--primary-color);
  font-family: "Benne", serif;
  margin: 0;
}

.footer h4 {
  color: white;
  text-align: center;
}



/*** Jumbotrun Landing Page *****/

#jumbo-landing{
  background-image: linear-gradient(to right,rgba(4, 17, 39, 0.993) 20% , rgba(50, 63, 85, 0.993) 40%, rgba(73, 35, 95, 0) 100%),
    url("./images/superman1.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: auto;
}

.jumbo-search-button > button {
  text-align: left;
}
